* {
    text-align: center;
}
ion-title {
    text-align: left;
}
.connect ion-label {
    text-align: left;
}
.connect ion-input {
    text-align: left;
}
.cardImage {
    max-height: 150px;
    max-width: 120px;
}

