<ion-header>
  <ion-toolbar>
    <ion-title>Play</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="game" padding>
  <ion-button *ngIf="game.hasStarted==false" expand="full" (click)="start()">Start</ion-button>
  <ion-button *ngIf="game.hasStarted==true && winnerMessage" expand="full" color="tertiary" (click)="reset()">Reset</ion-button>
  <ion-card *ngIf="game.hasStarted==true">
    <ion-card-header>
      <ion-card-subtitle>{{game.name}}</ion-card-subtitle>
      <ion-card-title *ngIf="winnerMessage">{{winnerMessage}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{player.name}}</h2>
      <h3>{{player.money}}</h3>
      <ion-label color="primary" *ngIf="player.isTurn == true">It's {{player.name}}'s turn! </ion-label>
      <ion-label color="danger" *ngIf="player.totalValue > 21">{{player.name}} busts!</ion-label>
      <ion-item>
        <div *ngFor="let card of player.hand" (click)="flipCard(card)" class="cardWrapper">
          <img *ngIf="card.isFaceUp==true" class="cardImage"
          src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png">
          <img *ngIf="card.isFaceUp==false" class="cardImage" src="assets/imgs/card-back.png">
        </div>
      </ion-item>
      <ion-label color="danger" *ngIf="player.splitValue > 21">{{player.name}}'s second hand busts!</ion-label>
      <ion-item *ngIf="player.hasSplit == true">
        <div *ngFor="let card of player.splitHand" (click)="flipCard(card)" class="cardWrapper">
          <img *ngIf="card.isFaceUp==true" class="cardImage"
          src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png">
          <img *ngIf="card.isFaceUp==false" class="cardImage" src="assets/imgs/card-back.png">
        </div>
      </ion-item>
      <ion-button *ngIf="player.isTurn == true" expand="full" color="tertiary" (click)="hit(player)">Hit me!</ion-button>
      <ion-button *ngIf="player.isTurn == true && player.hasSplit==true" expand="full" color="tertiary" (click)="hit(player, true)">Hit on split!</ion-button>
      <ion-button *ngIf="player.isTurn == true && player.hasDoubledDown==false && player.hasSplit==false" expand="full" color="tertiary" (click)="doubleDown(player)">Double Down</ion-button>
      <ion-button *ngIf="player.isTurn == true && player.hasDoubledDown==false && player.hasSplit==false" expand="full" color="tertiary" (click)="split(player)">Split</ion-button>
      <ion-button *ngIf="player.isTurn == true" expand="full" color="tertiary" (click)="endTurn()">End Turn</ion-button>
    </ion-card-content>
    <ion-card-content *ngFor="let Player of players">
      <div>
        <h2>{{Player.name}}</h2>
        <h3>{{Player.money}}</h3>
        <ion-label color="primary" *ngIf="Player.isTurn == true">It's {{Player.name}}'s turn! </ion-label>
        <ion-label color="danger" *ngIf="Player.totalValue > 21">{{Player.name}} busts!</ion-label>
        <ion-item>
          <div *ngFor="let card of Player.hand" (click)="flipCard(card)" class="cardWrapper">
            <img *ngIf="card.isFaceUp==true" class="cardImage"
            src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png">
            <img *ngIf="card.isFaceUp==false" class="cardImage" src="assets/imgs/card-back.png">
          </div>
        </ion-item>
        <ion-label color="danger" *ngIf="Player.splitValue > 21">{{Player.name}}'s second hand busts!</ion-label>
        <ion-item *ngIf="Player.hasSplit == true">
          <div *ngFor="let card of Player.splitHand" (click)="flipCard(card)" class="cardWrapper">
            <img *ngIf="card.isFaceUp==true" class="cardImage"
            src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png">
            <img *ngIf="card.isFaceUp==false" class="cardImage" src="assets/imgs/card-back.png">
          </div>
        </ion-item>
        <ion-button *ngIf="Player.isTurn == true" expand="full" color="tertiary" (click)="hit(Player)">Hit me!</ion-button>
        <ion-button *ngIf="Player.isTurn == true && Player.hasSplit==true" expand="full" color="tertiary" (click)="hit(Player, true)">Hit on split!</ion-button>
        <ion-button *ngIf="Player.isTurn == true && Player.hasDoubledDown==false && Player.hasSplit==false" expand="full" color="tertiary" (click)="doubleDown(Player)">Double Down</ion-button>
        <ion-button *ngIf="Player.isTurn == true && Player.hasDoubledDown==false && Player.hasSplit==false" expand="full" color="tertiary" (click)="split(Player)">Split</ion-button>
        <ion-button *ngIf="Player.isTurn == true" expand="full" color="tertiary" (click)="endTurn()">End Turn</ion-button>
      </div>
    </ion-card-content>
    <ion-card-content>
      <h2>{{dealer.name}}</h2>
      <ion-label color="primary" *ngIf="dealer.isTurn == true">It's {{dealer.name}}'s turn! </ion-label>
      <ion-label color="danger" *ngIf="dealer.totalValue > 21">{{dealer.name}} busts!</ion-label>
      <ion-item>
        <div *ngFor="let card of dealer.hand" (click)="flipCard(card)" class="cardWrapper">
          <img *ngIf="card.isFaceUp==true" class="cardImage"
          src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png">
          <img *ngIf="card.isFaceUp==false" class="cardImage" src="assets/imgs/card-back.png">
        </div>
      </ion-item>
      <ion-button *ngIf="dealer.isTurn == true" expand="full" color="tertiary" (click)="hit(dealer)">Hit me!</ion-button>
      <ion-button *ngIf="dealer.isTurn == true" expand="full" color="tertiary" (click)="endTurn()">End Turn</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
