<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="tertiary" [routerLink]="['/setup']">Play!</ion-button>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to The Game</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="deck">
        <ion-list *ngFor="let card of deck.cards">
          <ion-img *ngIf="card.isFaceUp==true" class="cardImage"
          src="assets/imgs/{{card.name | lowercase}}-of-{{card.suit | lowercase}}.png"></ion-img>
          <ion-item (click)="flipCard(card)">{{card.name}} of {{card.suit}}</ion-item>
        </ion-list>
        <ion-button expand="full" color="tertiary" (click)="shuffle()">Shuffle</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
