<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" color="tertiary" [routerLink]="['/setup']">Play!</ion-button>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Set Nickname</ion-label>
          <ion-input type="text" [(ngModel)]="nickname"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="joinChat()" [disabled]="nickname === ''">Join Chat as {{ nickname }}</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
